################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.dll
*.lic
*.nupkg
bin/
obj/
/packages
/.nuget/NuGet.exe
/.vs
