<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="11.0.6650.0" authCookieName=".SFAUTH-DocSamples" rolesCookieName=".SFROLES-DocSamples" validationKey="7B8ADB0E48F7C7E9F694B768CED5546FD37FD1B7C3988D54F895C991864D06E003F3BC81D37B0DC5D34D4BE41FB4D8A4564B31F7CD787930602E56117F09FAAE" decryptionKey="95072920D89E05CE64724044294FF0E8A11391189D6BD5BC66C48A504CB1F7C2" loggingCookieName=".SFLOG-DocSamples">
	<securityTokenIssuers>
		<add key="BC7AD84A3A2B5C68028A2F826E449A678F824AE7FAF682E7B217D73C10920D00" membershipProvider="Default" realm="http://localhost" />
	</securityTokenIssuers>
	<relyingParties>
		<add key="BC7AD84A3A2B5C68028A2F826E449A678F824AE7FAF682E7B217D73C10920D00" realm="http://localhost" />
	</relyingParties>
</securityConfig>